*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
user-select:none;
}

body{
overflow:hidden;
background:black;
}

.hidden{
display:none;
}

#boot{
position:absolute;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
color:white;
}

.logo{
font-size:48px;
margin-bottom:40px;
}

.loading{
width:320px;
height:6px;
background:#333;
overflow:hidden;
}

.bar{
height:100%;
width:0%;
background:#4db7ff;
animation:load 5s linear forwards;
}

@keyframes load{

to{
width:100%;
}

}

#login{

position:absolute;

width:100%;
height:100%;

background:url("../assets/wallpapers/login.jpg") center/cover;

display:flex;

justify-content:center;

align-items:center;

}

.loginBox{

background:rgba(255,255,255,.15);

backdrop-filter:blur(12px);

padding:40px;

border-radius:15px;

color:white;

text-align:center;

}

.loginBox img{

width:96px;

border-radius:50%;

margin-bottom:15px;

}

#desktop{

position:absolute;

width:100%;

height:100%;

background:url("../assets/wallpapers/default.jpg") center/cover;

}

#taskbar{

position:absolute;

bottom:0;

height:40px;

width:100%;

background:linear-gradient(#5a94d9,#245eb6);

display:flex;

align-items:center;

}

#startButton{

width:100px;

height:34px;

margin-left:5px;

border-radius:20px;

font-size:18px;

}

#tray{

margin-left:auto;

padding-right:15px;

color:white;

}
